@charset "UTF-8"; 
/*左边黑框描述，右边图片block样式*/
.category-banner-content-block__content {
	background-color: #666666;
	padding-top: 5%;
	height: 400px;
}
.category-banner-content-block__image {
	height: 400px;
	background-image:url("/images/products_list/banner.jpg");
	background-size: cover;
}
.category-banner-content-block__title {
	font-size: 30px;
    color: #fff;
    text-align: center;
}
.category-banner-content-block__description {
	margin: 16px 0 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.category-banner-content-block__value-add {
	margin: 16px 0 0;
    font-size: 16px;
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 20px;
    text-align: center;
}
/*filter 样式*/
.filter {
	height: 50px;
	margin-top: 20px;
    margin-bottom: 20px;	
}
.filter div {
	height: 100%;
}
.filter div span {
	display: inline-block;
	height: 100%;
	line-height: 50px;
}
.filter-part {
	text-align: center;
}
.filter-input span {
	width: 100%;
	border: 1px solid #000;
    border-radius: 5px;
}
.filter-input {
  position: relative;
}
.filter-input .filter-input-icon {
  display: inline-block;
  border: none;
  position: absolute;
  width: 30px;
  height: 50px;
  line-height: 50px;
  left: 70%;
}
.filter-title {
	font-weight: bold;
	font-size: 20px;
}
/*products list页面手机端样式*/
@media ( max-width:767px ) {
  /*左边黑框描述，右边图片block样式*/
  .category-banner-content-block__content {
  	padding-top: 2em;
  }
  .category-banner-content-block__content h1 {
  	font-size: 2.5em;
  }
  .category-banner-content-block__content p {
  	font-size: 1.5em;
  }
}
@media ( max-width:320px) {
  /*左边黑框描述，右边图片block样式*/
  .category-banner-content-block__content h1 {
  	font-size: 1em;
  }
  .category-banner-content-block__content h1 {
  	font-size: 2em;
  }
  .category-banner-content-block__content p {
  	font-size: 1em;
  }
}
/*products list页面PC端样式*/
@media ( min-width:1200px ) {
  /*filter PC 样式 配送时间*/
  .filter-input span a:hover {
    font-weight: bold;
    text-decoration: none;
    color: orange;
  }
  div.input-choice {
    z-index: 80;
    background-color: red;
    padding-bottom: 20px;
    padding-top: 20px;
    height: auto;
    background-color: #fff;
    position: absolute;
    width: 84.4%;
    top: 40px;
    border: 1px solid #000;
    border-top: none;
    display: none;
  }
  .input-choice .result-filters__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .input-choice .result-filters__list .filter-deliver-time-dropdown-a {
    text-decoration: none;
    display: inline-block;
    width: 70%;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    border: 1px solid #000;
    color: #000;
    border-color: #000;
  }
  .input-choice .result-filters__list .filter-deliver-time-dropdown-a:hover {
    text-decoration: none;
    color: orange;
    border-color: orange;
  }
  .input-choice .result-filters__list .filter-deliver-time-item-choosen {
    text-decoration: none;
    color: orange;
    border-color: orange;
  }
  /*filter 花品种选择框 情景选择继承 鲜花色系继承*/
  .filter-flower-type .input-choice-two , .filter-flower-hoilday .input-choice-three , .filter-flower-color .input-choice-four {
    height: auto;
    width: 168%;
    padding: 0;
    border: 1px solid #000;
    position: absolute;
    top: 62px;
    background-color: #fff;
    border-top: none;
    display: none;
  }
  .flower-type-list , .flower-holiday-list , .flower-color-list {
    padding: 0;
    list-style: none;
    height: auto;
  }
  .flower-type-list-item , .flower-holiday-list-item , .flower-color-list-item {
    height: 30px;
    line-height: 30px;
    padding-left: 12%;
  }
  .flower-type-list-item a , .flower-holiday-list-item a , .flower-color-list-item a {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-image: url("/images/products_list/checkbox.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0px -39px;
  }
  .flower-type-list-item a:hover {
    background-position: 0px -1px;
    color: orange;
    text-decoration: none;
  }
  .flower-holiday-list-item a:hover {
    background-position: 0px -1px;
    color: orange;
    text-decoration: none;
  }
  .flower-color-list-item a:hover {
    background-position: 0px -1px;
    color: orange;
    text-decoration: none;
  }
  .filter-flower-type .flower-type-list-item .flower-type-list-item-choosen , .filter-flower-hoilday .flower-holiday-list-item .flower-holiday-list-item-choosen {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-image: url("/images/products_list/checkbox.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0px -1px;
    color: orange;
    text-decoration: none;
  }
  ..filter-flower-color .flower-color-list-item .flower-color-list-item-choosen {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-image: url("/images/products_list/checkbox.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0px -1px;
    color: orange;
    text-decoration: none;
  }
  .flower-type-list-one , .flower-holiday-list-one , .flower-color-list-one {
    border-top: 1px solid #fff;
    padding-top: 20px;
  }
  .flower-type-list-two , .flower-holiday-list-two , .flower-color-list-two {
    border-top: 1px solid #000;
    padding-top: 20px;
  }
}
/*filter 情景选择*/
.filter-flower-hoilday .input-choice-three , .filter-flower-color .input-choice-four {
  height: auto;
}
/*products list页面平板端样式*/
@media ( min-width:768px ) and ( max-width:1199px ) {
  /*filter 平板样式*/
  .filter-input .filter-input-icon {
    display: inline-block;
    border: none;
    position: absolute;
    width: 30px;
    height: 50px;
    line-height: 50px;
    left: 62%;
  }
}